$primary-color: #07071e;
$secondary-color: #fcdf00;
$tertiary-color: #5d5d6d;
$primary-grey: #444444;
$secondary-grey: #EFEFEF;
$tertiary-grey: #F5F5F5;
$dark-text: $primary-grey;
$light-text: #FFFFFF;

$success: #599c6b;
$error: #e25c5c;
$warning: #de985a;
$info: #5a88de;